In [6]:
# make sure you press shift enter in order to load modules

import pandas as pd
import os

Loading Data

In [7]:
data_path = os.path.join(os.getcwd(), "data_dir","fishing_data_na.csv")
data_df = pd.read_csv(data_path)

Sanity Check

In [8]:
data_df.head(4)

   day_count day_of_week  num_big_fish  num_small_fish river_type
0          1      Monday           4.0             7.0      North
1          2     Tuesday           3.0            10.0      North
2          3   Wednesday           9.0            16.0      North
3          4    Thursday           6.0            15.0      North

In [9]:
data_df.tail(4)

    day_count day_of_week  num_big_fish  num_small_fish river_type
56         57      Monday           8.0             NaN      North
57         58     Tuesday           3.0             NaN      North
58         59   Wednesday           8.0            13.0      North
59         60    Thursday           5.0            20.0        NaN

In [12]:
 data_df.iloc[5:8]  #see random rows

   day_count day_of_week  num_big_fish  num_small_fish river_type
5          6    Saturday           NaN             3.0      South
6          7      Sunday           6.0             3.0      South
7          8      Monday           3.0            11.0      North

In [13]:
data_df.shape  #shape of the data *number of rows and columns

(60, 5)

In [14]:
list(data_df)  # df means data frame, columns in a list

['day_count', 'day_of_week', 'num_big_fish', 'num_small_fish', 'river_type']

In [16]:
data_df.columns  #Column index similar to above

Index(['day_count', 'day_of_week', 'num_big_fish', 'num_small_fish',
       'river_type'],
      dtype='object')

In [17]:
data_df.index  #data index starting from and ending

RangeIndex(start=0, stop=60, step=1)

In [18]:
data_df.dtypes  # data types

day_count           int64
day_of_week        object
num_big_fish      float64
num_small_fish    float64
river_type         object
dtype: object

Missing Value Check

In [19]:
data_df.isna()  #mising data

    day_count  day_of_week  num_big_fish  num_small_fish  river_type
0       False        False         False           False       False
1       False        False         False           False       False
2       False        False         False           False       False
3       False        False         False           False       False
4       False        False         False           False       False
5       False        False          True           False       False
6       False        False         False           False       False
7       False        False         False           False       False
8       False        False         False           False       False
9       False        False         False           False       False
10      False        False         False            True       False
11      False        False         False           False        True
12      False        False         False            True       False
13      False        False         False           False       False
14      False        False         False            True       False
15      False        False         False           False       False
16      False        False         False           False       False
17      False        False         False           False       False
18      False        False         False           False       False
19      False        False         False           False       False
20      False        False         False           False       False
21      False        False         False           False       False
22      False        False         False           False       False
23      False        False         False           False       False
24      False        False         False           False       False
25      False        False         False           False       False
26      False        False         False           False       False
27      False        False         False           False       False
28      False        False         False           False       False
29      False        False         False           False       False
30      False        False         False           False       False
31      False        False         False           False       False
32      False        False         False           False       False
33      False        False         False           False       False
34      False        False         False           False       False
35      False        False         False           False       False
36      False        False         False           False       False
37      False        False          True           False       False
38      False        False          True           False       False
39      False        False         False           False       False
40      False        False         False           False       False
41      False        False          True           False       False
42      False        False         False           False       False
43      False        False         False           False       False
44      False        False         False           False       False
45      False        False         False           False       False
46      False        False         False           False       False
47      False        False         False           False       False
48      False        False         False           False       False
49      False        False         False           False       False
50      False        False         False           False       False
51      False        False         False           False       False
52      False        False          True           False       False
53      False        False         False           False       False
54      False        False         False           False        True
55      False        False         False           False       False
56      False        False         False            True       False
57      False        False         False            True       False
58      False        False         False           False       False
59      False        False         False           False        True

In [21]:
data_df.isna().sum()  #wittering down column wise missing values.

day_count         0
day_of_week       0
num_big_fish      5
num_small_fish    5
river_type        3
dtype: int64

In [22]:
data_df.isna().sum(axis=0) #column wise going right------->

day_count         0
day_of_week       0
num_big_fish      5
num_small_fish    5
river_type        3
dtype: int64

In [ ]:
data_df.isna().sum(axis=1) #row wise going down/

In [24]:
data_df.isna().mean() # missing values

day_count         0.000000
day_of_week       0.000000
num_big_fish      0.083333
num_small_fish    0.083333
river_type        0.050000
dtype: float64

In [25]:
data_df.isna().sum().sort_values(ascending=False)

num_big_fish      5
num_small_fish    5
river_type        3
day_count         0
day_of_week       0
dtype: int64

In [28]:
data_df.isna().mean().sort_values(ascending=False) *100 #percentage of mising values in a  column

num_big_fish      8.333333
num_small_fish    8.333333
river_type        5.000000
day_count         0.000000
day_of_week       0.000000
dtype: float64

In [29]:
data_df  #looking at all the data at a glance. Eyeballing

    day_count day_of_week  num_big_fish  num_small_fish river_type
0           1      Monday           4.0             7.0      North
1           2     Tuesday           3.0            10.0      North
2           3   Wednesday           9.0            16.0      North
3           4    Thursday           6.0            15.0      North
4           5      Friday           4.0            22.0      North
5           6    Saturday           NaN             3.0      South
6           7      Sunday           6.0             3.0      South
7           8      Monday           3.0            11.0      North
8           9     Tuesday           6.0            16.0      North
9          10   Wednesday           6.0             8.0      North
10         11    Thursday           4.0             NaN      North
11         12      Friday           6.0            17.0        NaN
12         13    Saturday          13.0             NaN      South
13         14      Sunday          15.0             3.0      South
14         15      Monday           1.0             NaN      North
15         16     Tuesday           7.0            16.0      North
16         17   Wednesday           4.0            22.0      North
17         18    Thursday           6.0            16.0      North
18         19      Friday           6.0            21.0      North
19         20    Saturday          17.0             3.0      South
20         21      Sunday           5.0             4.0      South
21         22      Monday           4.0            13.0      North
22         23     Tuesday           6.0            16.0      North
23         24   Wednesday           5.0             9.0      North
24         25    Thursday           5.0            13.0      North
25         26      Friday           9.0            24.0      North
26         27    Saturday           6.0             4.0      South
27         28      Sunday           7.0             4.0      South
28         29      Monday           5.0            10.0      North
29         30     Tuesday           5.0            21.0      North
30         31   Wednesday           4.0            14.0      North
31         32    Thursday           9.0            14.0      North
32         33      Friday           1.0            11.0      North
33         34    Saturday          12.0             1.0      South
34         35      Sunday           6.0             2.0      South
35         36      Monday           4.0            14.0      North
36         37     Tuesday           5.0            11.0      North
37         38   Wednesday           NaN            16.0      North
38         39    Thursday           NaN            13.0      North
39         40      Friday           4.0            10.0      North
40         41    Saturday          10.0             3.0      South
41         42      Sunday           NaN             4.0      South
42         43      Monday           5.0            14.0      North
43         44     Tuesday           7.0            16.0      North
44         45   Wednesday           1.0            12.0      North
45         46    Thursday           7.0            13.0      North
46         47      Friday           4.0            14.0      North
47         48    Saturday          12.0             3.0      South
48         49      Sunday           9.0             3.0      South
49         50      Monday           5.0            15.0      North
50         51     Tuesday           7.0            16.0      North
51         52   Wednesday           6.0            13.0      North
52         53    Thursday           NaN            22.0      North
53         54      Friday           5.0            11.0      North
54         55    Saturday           9.0             3.0        NaN
55         56      Sunday           7.0             3.0      South
56         57      Monday           8.0             NaN      North
57         58     Tuesday           3.0             NaN      North
58         59   Wednesday           8.0            13.0      North
59         60    Thursday           5.0            20.0        NaN